[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
django = "*"
whitenoise = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
