<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="js/fontAwesome/all.js"></script>
</head>
<body>


</body>
</html>



{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock %}

{% block content %}

<img src="img/wave.png" alt="" class="wave">
<main>
    <h1 class="titleText">GreenAtom</h1>
    <div class="container">
        <div class="img">
            <img src="img/undraw_Code_thinking_re_gka2.svg" alt="">
        </div>
        <div class="login-container">
            <div class="switch">
                <div class="switch-btn">
                    <div class="login" onclick="tab1()"><p>Авторизация</p></div>
                    <div class="registration" onclick="tab2();"><p>Регистрация</p></div>
                </div>
            </div>
            <div class="outer">
                <form id="form-user">
                    <div id="page" class="page1">
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                                <h5>E-mail</h5>
                                <input name="email" type="text"  class="input">
                            </div>
                        </div>

                        <div class="input-div tow">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h5>Пароль</h5>
                                <input name="password" type="password" class="input">
                            </div>
                        </div>

                        <a href="#">Forgot Password?</a>
                        <button  type="submit" class="btn btn-white btn-animate">Войти</button>
                    </div>

                    <div id="page">
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                                <h5>Логин:</h5>
                                <input type="text"  class="input">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h5>Должность:</h5>
                                <input type="password" class="input">
                            </div>
                        </div>

                        <div class="input-div tow">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h5>E-mail:</h5>
                                <input type="password" class="input">
                            </div>
                        </div>

                        <a href="#">Forgot Password?</a>
                        <button  type="submit" class="btn btn-white btn-animate">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/function.js"></script>
{% endblock %}